<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()
    <footer>
        <p>新浪微博：<a href="http://weibo.com/jeffreysu1984" target="_blank">@@苏震巍</a> QQ：498977166</p>
        <p>&copy;2013 Senparc</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
