<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Senparc.Weixin.MP - 微信公众平台SDK</a>
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("首页", "Index", "Home")</li>
                        <li>@Html.ActionLink("自定义菜单设置工具", "Index", "Menu")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>欢迎使用 微信公众平台SDK!</h1>
                    <h2>Senparc.Weixin.MP.dll</h2>
                </hgroup>
                <p>
                    使用 Senparc.Weixin.MP.dll 整合网站与微信公众账号的自动交流回复。
                </p>
                <p>
                    更多使用说明见：<a href="http://www.cnblogs.com/szw/archive/2013/01/13/senparc-weixin-mp-sdk.html" target="_blank">Senparc.Weixin.MP-微信公众平台SDK（C#）</a><br />
                    源代码及示例下载：<a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank">https://github.com/JeffreySu/WeiXinMPSDK</a><br />
                </p>
                <p>
                    当前Demo运行的Senparc.Weixin.MP.dll版本：<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MpVersion"])</a><br />
                    Senparc.Weixin.MP.MvcExtension.dll版本：<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["ExtensionVersion"])</a><br />
                </p>
                <p>
                    技术交流QQ群：300313885
                </p>
                <p>
                    业务联系QQ：498977166
                </p>
                <p>
                    客服热线：400-031-8816
                </p>
                <p>
                    如果这个项目对您有用，我们欢迎各方任何形式的捐助，也包括参与到项目代码更新或意见反馈中来。谢谢！<br />
                    资金捐助：<a href="https://me.alipay.com/jeffreysu" target="_blank">https://me.alipay.com/jeffreysu</a>
                </p>
                <p>
                    &nbsp;
                </p>
                辅助工具：<h2>@Html.ActionLink("自定义菜单设置工具", "Index", "Menu")</h2>
            </div>
        </section>
        @RenderBody()
    </div>

    <footer>
        <p>新浪微博：<a href="http://weibo.com/jeffreysu1984" target="_blank">@@苏震巍</a> QQ：498977166</p>
        <p>&copy;2013 Senparc</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
