@model Senparc.Weixin.MP.Entities.GetMenuResult
@{
    ViewBag.Title = "自定义菜单工具";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>
        .txtButton
        {
            width: 100px;
        }

        .txtButtonDetails
        {
            width: 200px;
        }

        .txtToken
        {
            width: 80%;
        }

        .submitArea
        {
            clear: both;
        }
    </style>
}
<section class="content-wrapper main-content clear-fix">
    <h1>自定义菜单工具</h1>
    <h3>使用说明及规则，请仔细阅读</h3>
    <ul>
        <li>官方要求：一级菜单按钮个数为2-3个</li>
        <li>官方要求：如果设置了二级菜单按钮个数为2-5个</li>
        <li>官方要求：按钮描述，既按钮名字，不超过16个字节，子菜单不超过40个字节</li>
        <li>如果name不填，此按钮将被忽略</li>
        <li>如果一级菜单为空，该列所有设置的二级菜单都会被忽略</li>
        <li>key仅在SingleButton（单击按钮，无下级菜单）的状态下设置，如果此按钮有下级菜单，key将被忽略</li>
        <li>所有二级菜单都为SingleButton</li>
        <li>如果要快速看到微信上的菜单最新状态，需要重新关注，否则需要静静等待N小时</li>
    </ul>
    <p></p>
    <h3>编辑工具</h3>
    <div id="menuLogin">
        <p>AppId：<input id="menuLogin_AppId" type="text" /></p>
        <p>AppSecret：<input id="menuLogin_AppSecret" type="text" /></p>
        <p>
            <input id="menuLogin_Submit" type="button" value="获取AccessToken" />
        </p>
        <p>注：获得公众账号AppId，需要成为“服务号”</p>
        <p>
            我有当前可用Token：<input id="menuLogin_OldToken" type="text" />
            <input id="menuLogin_SubmitOldToken" type="button" value="直接使用" />请确保此Token可用，否则接下去可能出错
        </p>
    </div>
    <div id="menuEditor">
        @using (Html.BeginForm("CreateMenu", "Menu", FormMethod.Post, new { id = "form_Menu" }))
        {

            <p>
                当前Token:
            <input id="tokenStr" name="token" type="text" class="txtToken" />
            </p>
            <p>
                <input id="btnGetMenu" type="button" value="获取当前菜单" />
                <input id="btnDeleteMenu" type="button" value="删除菜单" />
            </p>
            <p>
                操作状态：<strong id="menuState">-</strong>
            </p>
            <div class="float-left">

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>第一列</th>
                            <th>第二列</th>
                            <th>第三列</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 6; i++)
                        {
                            var isRootMenu = i == 5;
                            <tr id="@(isRootMenu ? "subMenuRow_" + i : "rootMenuRow")">
                                <td>
                                    @(isRootMenu ? "一级菜单按钮" : ("二级菜单No." + (i + 1)))
                                </td>
                                @for (int j = 0; j < 3; j++)
                                {
                                    var namePrefix = isRootMenu ? string.Format("menu.button[{0}]", j) : string.Format("menu.button[{0}].sub_button[{1}]", j, i);
                                    var idPrefix = isRootMenu ? string.Format("menu_button{0}", j) : string.Format("menu_button{0}_sub_button{1}", j, i);
                                    <td>
                                        <input type="hidden" name="@(namePrefix).key" id="@(idPrefix)_key"/>
                                        <input type="hidden" name="@(namePrefix).type" id="@(idPrefix)_type" value="click" />
                                        <input type="text" name="@(namePrefix).name" id="@(idPrefix)_name" class="txtButton" data-i="@i" data-j="@j" @Html.Raw(isRootMenu ? string.Format(@"data-root=""{0}""", j) : "") />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <p></p>
            </div>
            <div class="float-left" id="buttonDetails">
                <h3>按钮其他参数</h3>
                <p>Name：<input type="text" id="buttonDetails_name" class="txtButton" disabled="disabled" /></p>
                <p>
                    Key：<input id="buttonDetails_key" type="text" class="txtButtonDetails" />
                </p>
                <p>
                    注：如果还有下级菜单请忽略Key
                </p>
            </div>
            <div class="clear-fix"></div>
            <div id="submitArea">
                <input type="button" value="更新到服务器" id="submitMenu" />
            </div>
        }
    </div>
</section>

<script src="@Url.Content("~/Scripts/senparc.menu.js")"></script>
<script>
    $(function () {
        senparc.menu.init();
    });
</script>
