@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>开放平台OAuth授权测试</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <h2>开放平台OAuth2.0授权测试</h2>
    <p>注意：此页面仅供测试，测试号随时可能过期。请将此DEMO部署到您自己的服务器上，并使用自己的appid、Component_Appid及Component_AccessToken等参数。</p>
    <p><a href="@ViewData["UrlUserInfo"]">点击这里测试snsapi_userinfo</a></p>
    <p>
        将要链接到的地址：<br />
        <textarea rows="10" cols="40">@ViewData["UrlUserInfo"]</textarea>
    </p>
    <p><a href="@ViewData["UrlBase"]">点击这里测试snsapi_base</a></p>
    <p>
        将要链接到的地址：<br />
        <textarea rows="10" cols="40">@ViewData["UrlBase"]</textarea>
    </p>
</body>
</html>
