@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
        <title>微信支付测试跳转页</title>

    </head>
    <body>
        <div>
            <a href="@Url.Action("JsApi","WeixinPay")">jsapi支付</a>
            <a href="@Url.Action("FeedBack","WeixinPay")">FeedBack</a>
@*            <a href="@Url.Action("Native","WeixinPay")">native支付</a>
            <a href="@Url.Action("NativeCall","WeixinPay")">nativecall</a>
            <a href="@Url.Action("PayNotifyUrl","WeixinPay")">PayNotifyUrl</a>*@
        </div>
    </body>
</html>