@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
        <title>微信支付测试跳转页</title>

    </head>
    <body>
        <div>
            <a href="@Url.Action("JsApi","TenPay")">jsapi支付</a>
            <a href="@Url.Action("FeedBack","TenPay")">FeedBack</a>
            <a href="@Url.Action("Native","TenPay")">native支付</a>
            <a href="@Url.Action("NativeCall","TenPay")">nativecall</a>
            <a href="@Url.Action("PayNotifyUrl","TenPay")">PayNotifyUrl</a>
            <a href="@Url.Action("Delivernotify","TenPay")">Delivernotify</a>
            <a href="@Url.Action("SharedAddress","TenPay")">SharedAddress</a>
        </div>
    </body>
</html>