@model Senparc.Weixin.MP.Entities.GetMenuResult
@{
    ViewBag.Title = "菜单管理器";
}
<br />
@using (Html.BeginForm("CreateMenu", "Menu", FormMethod.Post, new { id = "form_Menu" }))
{
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">自定义菜单编辑器<small>使用说明及规则，请仔细阅读</small></h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>官方要求：一级菜单按钮个数为2-3个</li>
                <li>官方要求：如果设置了二级菜单，子按钮个数为2-5个</li>
                <li>官方要求：按钮描述，既按钮名字，不超过16个字节，子菜单不超过40个字节</li>
                <li>如果name不填，此按钮将被忽略</li>
                <li>如果一级菜单为空，该列所有设置的二级菜单都会被忽略</li>
                <li>key仅在SingleButton（单击按钮，无下级菜单）的状态下设置，如果此按钮有下级菜单，key将被忽略</li>
                <li>所有二级菜单都为SingleButton</li>
                <li>如果要快速看到微信上的菜单最新状态，需要重新关注，否则需要静静等待N小时</li>
            </ul>
            <div class="row">
                <!--左侧菜单显示界面-->
                <div class="col-md-6">
                    <div class="panel panel-default panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">菜单内容</h3>
                        </div>
                        <div class="panel-body">
                            <p class="form-control-static">操作状态：<strong id="menuState">-</strong></p>
                        </div>
                        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">第一个菜单</th>
                                    <th class="text-center">第二个菜单</th>
                                    <th class="text-center">第三个菜单</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 6; i++)
                                {
                                    var isRootMenu = i == 5;
                                    <tr id="@(isRootMenu ? "subMenuRow_" + i : "rootMenuRow")">
                                        <td class="text-right">
                                            @(isRootMenu ? "主菜单按钮" : ("子菜单No." + (i + 1)))
                                        </td>
                                        @for (int j = 0; j < 3; j++)
                                        {
                                            var namePrefix = isRootMenu ? string.Format("menu.button[{0}]", j) : string.Format("menu.button[{0}].sub_button[{1}]", j, i);
                                            var idPrefix = isRootMenu ? string.Format("menu_button{0}", j) : string.Format("menu_button{0}_sub_button{1}", j, i);
                                            <td class="text-center">
                                                <input type="hidden" name="@(namePrefix).key" id="@(idPrefix)_key" />
                                                <input type="hidden" name="@(namePrefix).type" id="@(idPrefix)_type" value="click" />
                                                <input type="hidden" name="@(namePrefix).url" id="@(idPrefix)_url" />
                                                <input type="text" class="form-control" style="width:100%;" name="@(namePrefix).name" id="@(idPrefix)_name" data-i="@i" data-j="@j" @Html.Raw(isRootMenu ? string.Format(@"data-root=""{0}""", j) : "") />
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--右侧菜单纤细内容栏-->
                <div class="col-md-6" id="buttonDetails">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">按钮其他参数</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="buttonDetails_name" class="col-md-3 control-label">Name：</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="buttonDetails_name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="buttonDetails_type" class="col-md-3 control-label">Type：</label>
                                            <div class="col-sm-9">
                                                <select id="buttonDetails_type" class="form-control">
                                                    <option value="click" selected="selected">点击事件（传回服务器）</option>
                                                    <option value="view">访问网页（直接跳转）</option>
                                                    <option value="location_select">弹出地理位置选择器</option>
                                                    <option value="pic_photo_or_album">弹出拍照或者相册发图</option>
                                                    <option value="pic_sysphoto">弹出系统拍照发图</option>
                                                    <option value="pic_weixin">弹出微信相册发图器</option>
                                                    <option value="scancode_push">扫码推事件</option>
                                                    <option value="scancode_waitmsg">扫码推事件且弹出“消息接收中”提示框</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="buttonDetails_name" class="col-md-3 control-label">Key：</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="buttonDetails_key" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="buttonDetails_name" class="col-md-3 control-label">Url：</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="buttonDetails_url" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <p>如果还有下级菜单请忽略Type和Key、Url。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="panel panel-default panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">个性化菜单设置</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="MenuMatchRule.group_id" class="col-sm-3 control-label">用户分组标签:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.group_id" name="MenuMatchRule.group_id" placeholder="用户分组id，可通过用户分组管理接口获取" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuMatchRule.sex" class="col-sm-3 control-label">用户性别:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.sex" name="MenuMatchRule.sex" placeholder="性别：男（1）女（2），不填则不做匹配" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuMatchRule.country" class="col-sm-3 control-label">用户所在国家:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.country" name="MenuMatchRule.country" placeholder="国家信息，是用户在微信中设置的地区，具体请参考地区信息表" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuMatchRule.province" class="col-sm-3 control-label">用户所在省份:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.province" name="MenuMatchRule.province" placeholder="省份信息，是用户在微信中设置的地区，具体请参考地区信息表" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuMatchRule.city" class="col-sm-3 control-label">用户所在城市:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.city" name="MenuMatchRule.city" placeholder="城市信息，是用户在微信中设置的地区，具体请参考地区信息表" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="MenuMatchRule.client_platform_type" class="col-sm-3 control-label">客户端类型:</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="MenuMatchRule.client_platform_type" name="MenuMatchRule.client_platform_type" placeholder="客户端版本，当前只具体到系统型号：IOS(1), Android(2),Others(3)，不填则不做匹配" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" id="btnGetMenu" class="btn btn-default btn-primary">获取当前菜单</button>
                <button type="button" id="btnDeleteMenu" class="btn btn-default btn-primary">删除菜单</button>
                <button type="submit" class="btn btn-default btn-primary" id="submitMenu">更新到服务器</button>
            </div>
        </div>
    </div>
}
<div class="panel panel-default panel-primary" id="reveiveJSON">
    <div class="panel-heading">
        <h3 class="panel-title">接收菜单JSON：</h3>
    </div>
    <div class="panel-body">
        <textarea id="txtReveiceJSON" class="form-control" rows="3"></textarea>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/senparc.menu.js")"></script>
    <script>
        $(function () {
            senparc.menu.init();
        });
    </script>
}
